.ggo {
	color: green;
	font-size: 40;
	background-color: black;
}

.subsection {
  color: red;
  background-color: black;
}

.subsection#preview {
  color: blue;
  background-color: gray;
}

.li {
	color: red;
}
